@model IEnumerable<CSIT314BCE.Models.Post>

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/Style.css")


<table style="width:100%">
    <tr>
        <td><h2>Learning Platform</h2></td>
        <td style="text-align:right">@Html.ActionLink("Ask a question", "Ask", "Posts", null, new { @class = "btn btn-primary" })</td>
    </tr>
</table>
<p>         </p>
@using (Html.BeginForm("Index", "Posts", FormMethod.Get))
{
    <b>Search By:</b>
    @Html.RadioButton("searchBy", "Questions", true)<text>Question</text>
    @Html.RadioButton("searchBy", "Answers")<text>Answers</text>
    @Html.TextBox("search")
    <input type="submit" value="Search" />
}
<br />
<br />
<table style="width:100%">


    @foreach (var item in Model)
    {
        <tr>
            <td style="width: 100px">
                <div id="vote">
                    @Html.DisplayFor(modelItem => item.VoteCount)<br />
                    vote(s)
                </div>
                <div id="answer">
                    @Html.DisplayFor(modelItem => item.AnswerCount)<br />
                    answer(s)
                </div>
            </td>
            <td id="post">
                <div id="questionDetail">
                    @if (!string.IsNullOrEmpty(item.Title))
                    {
                        @Html.ActionLink(item.BodyTrimmed, "Details", "Posts", new { id = item.PostId }, new { style = "text-decoration:none;color:black;" })
                    }
                    else
                    {
                        @Html.ActionLink(item.BodyTrimmed, "Details", "Posts", new { id = item.ParentId }, new { style = "text-decoration:none;color:black;" })
                    }
                </div>
            </td>
            <td>
                <div id="askedBy">
                    asked By @Html.ActionLink(item.OwnerUsername, "UserProfile", "Home", new { userId = item.OwnerId }, null) <br />
                    on @Html.DisplayFor(modelItem => item.CreationDate)
                </div>

                @if (User.IsInRole("Moderator"))
                {
                    <div id="modOption">
                        @Html.ActionLink("Edit", "Edit", new { id = item.PostId })
                        <br />
                        @Html.ActionLink("Delete", "Delete", new { id = item.PostId })
                    </div>
                }
            </td>
        </tr>
    }
</table>