@model CSIT314BCE.Models.AskViewModel

@{
    ViewBag.Title = "Ask a Question";
}

<h2>@ViewBag.Title</h2>
<hr />

<div class="row">
    @using (Html.BeginForm("Ask", "Posts", FormMethod.Post, new { @class = "form-vertical", id = "questionForm", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.OwnerId, new { id = "OwnerId" })

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Title, new { @class = "form-control", style = "resize:none", @rows = 1, id = "questionTitle" })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Body, new { @class = "form-control", @rows = 20 })
                @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="form-group">
            <div style="padding-top:2em;" class="col-md-12">
                <input class="askQ btn btn-primary" type="button" id="AskQuestion" name="AskQuestion" value="Ask Question" />

            </div>
        </div>
    }
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <input type="submit" form="questionForm" id="btnOK" value="Ask Question" class="btn btn-primary" />
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $(".askQ").click(function () {
                $(".modal-body").empty();
                $(".modal-body").html("Confirm asking this question?");
                $('#myModal').modal('show');
            });
        });
    </script>
}
