@model IEnumerable<CSIT314BCE.Models.Post>

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/Style.css")


<table style="width:100%">
    <tr>
        <td><h2>Learning Platform</h2></td>
        <td style="text-align:right">@Html.ActionLink("Ask a question", "Ask", "Posts", null, new { @class = "btn btn-primary" })</td>
    </tr>
</table>
<p>         </p>

<br />
<br />
<table style="width:100%">


    @foreach (var item in Model)
    {
        <tr>
            <td style="width: 100px">
                <div id="vote">
                    @Html.DisplayFor(modelItem => item.VoteCount)<br />
                    vote(s)
                </div>
                <div id="answer">
                    @Html.DisplayFor(modelItem => item.AnswerCount)<br />
                    answer(s)
                </div>
            </td>
            <td id="post" style="width: 850px">
                <div id="questionDetail">
                    @Html.ActionLink(item.Title, "Details","Posts", new { id = item.PostId }, new { style = "text-decoration:none;color:black;" })
                </div>
            </td>
            <td>
                <div id="askedBy">
                    asked By @Html.ActionLink(item.OwnerUsername, "UserProfile", "Home", new { userId = item.OwnerId }, null) <br />
                    on @Html.DisplayFor(modelItem => item.CreationDate)
                </div>

                <div id="modOption">
                    Edit
                    <br />
                    Delete
                </div>

                @if (User.IsInRole("Moderator"))
                {
                    <div id="modOption">
                        @Html.ActionLink("Edit", "Edit", new { id = item.PostId })
                        <br />
                        @Html.ActionLink("Delete", "Delete", new { id = item.PostId })
                    </div>
                }
            </td>
        </tr>
    }
</table>