@model IEnumerable<CSIT314BCE.Models.Post>

@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/Style.css")

    <div class="row">
        <div class="col-md-10"><h2>Learning Platform</h2></div>
            <div class="col-md-2">@Html.ActionLink("Ask a question", "Ask", "Posts", null, new { @class = "btn btn-primary" })</div>
    </div>
<div class="hidden-div">
    @using (Html.BeginForm("Index", "Posts", FormMethod.Get))
    {
        <b>Search By:</b>
        @Html.RadioButton("searchBy", "Questions", true)<text>Questions</text>
        @Html.RadioButton("searchBy", "Answers")<text>Answers</text>
        @Html.TextBox("search")
        <input type="submit" value="Search" />
    }
</div>
<br />
<br />
<table>
    @foreach (var item in Model)
    {
        <tr>
            <td style="width: 100px">
                @{
                    var voteString = "votes";
                    var answerString = "answers";
                    var answerCss = "answer";
                    if (item.VoteCount == 1) { voteString = "vote"; }
                    if (item.AnswerCount == 1) { answerString = "answer"; }
                    if (item.AcceptedAnswerId != 0) { answerCss = "acceptedAnswer"; }
                }
                <div id="vote">
                    <strong>@Html.DisplayFor(modelItem => item.VoteCount)</strong><br />
                    @voteString
                </div>
                <div id="@answerCss">
                    <strong>@Html.DisplayFor(modelItem => item.AnswerCount)</strong><br />
                    @answerString
                </div>
            </td>
            <td id="post" style="width: 850px">
                <div id="questionDetail">
                    @if (!string.IsNullOrEmpty(item.Title))
                    {
                        @Html.ActionLink(item.Title, "Details", "Posts", new { id = item.PostId }, new { style = "text-decoration:none;color:black;" })
                    }
                </div>
            </td>
            <td>
                <div id="askedBy">
                    asked By @Html.ActionLink(item.OwnerUsername, "UserProfile", "Home", new { userId = item.OwnerId }, null) <br />
                    on @Html.DisplayFor(modelItem => item.CreationDate)
                </div>
                @if (User.IsInRole("Moderator"))
                {
                    <div id="modOption">
                        @Html.ActionLink("Edit", "Edit", new { id = item.PostId })
                        <br />
                        @Html.ActionLink("Delete", "Delete", new { id = item.PostId })
                    </div>
                }
            </td>
        </tr>
    }
</table>
