@model IEnumerable<CSIT314BCE.Models.Post>
@Styles.Render("~/Content/Style.css")

<table style="width:100%">
    <tr>
        <td><h2>Questions</h2></td>
        <td style="text-align:right;width:250px">
            <div id="vote">
                Total Votes Gained: <b>@Model.Sum(i => i.VoteCount)</b><br />
            </div>
        </td>
    </tr>
</table>
@using (Html.BeginForm("Statistics", "Posts", FormMethod.Get))
{
    <b>View By:</b>
    @Html.RadioButton("viewBy", "Questions", true)<text>My Posted Questions</text>
    @Html.RadioButton("viewBy", "Answers")<text>My Posted Answers</text>
    @Html.RadioButton("viewBy", "PRatings")<text>My Participation Ratings</text>
    @Html.TextBox("viewQuestions", "Questions", new { style = "display:none" })
    @Html.TextBox("viewAnswers", "Answers", new { style = "display:none" })
    @Html.TextBox("viewParticipatinRatings", "PRatings", new { style = "display:none" })
    <input type="submit" value="View" />
}

<table style="width:100%">
    @foreach (var item in Model)
    {
        var voteString = "votes";
        var answerString = "answers";
        var answerCss = "answer";
        if (item.VoteCount == 1) { voteString = "vote"; }
        if (item.AnswerCount == 1) { answerString = "answer"; }
        if (item.AcceptedAnswerId != 0) { answerCss = "acceptedAnswer"; }
        <tr>
            <td style="width: 100px">
                <div id="vote">
                    @Html.DisplayFor(modelItem => item.VoteCount)<br />
                    @voteString
                </div>
                <div id="@answerCss">
                    @Html.DisplayFor(modelItem => item.AnswerCount)<br />
                    @answerString
                </div>
            </td>
            <td id="post" style="width: 850px">
                <div id="questionDetail">
                    @if (!string.IsNullOrEmpty(item.Title))
                    {
                        @Html.ActionLink(item.Title, "Details", "Posts", new { id = item.PostId }, new { style = "text-decoration:none;color:black;" })
                    }
                </div>
            </td>
            <td>
                <div id="askedBy">
                    Asked By @Html.ActionLink(item.OwnerUsername, "UserProfile", "Home", new { userId = item.OwnerId }, null) <br />
                    on @Html.DisplayFor(modelItem => item.CreationDate)
                </div>
            </td>
        </tr>
    }

</table>